.text-sm {
    font-size: small;
}

.text-xsm {
    font-size: x-small;
}

.text-m {
    font-size: medium;
}

.text-xxsm {
    font-size: xx-small;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}